body, h3{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
header{
    display: flex;
    height: 90px;
    width:100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin:0;
    height: inherit;
}
img{
    height: inherit;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
.header a {
    color: black;
    text-decoration: none;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
}
.header ol li {
    height: inherit;
}
.header a {
    display:flex;
    align-items: center;
    height:inherit;
    padding:0px 20px;
}
.menu-servicios{
    width: 100%;
    height:auto ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-servicios a{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.container {
    max-width: 1265px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    padding: 0 0;
}
.negocio-container {
    margin: 0 40px;
    margin-top: -50%;
    background-color: rgba(255,255,255, 0.8);
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.negocio-container a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.negocio {
    margin: 1%;
    width: 30%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}
.negocio img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    opacity: 0.6;
}