body {
    margin: 0px;
}
header{
    display: flex;
    height: 90px;
    width:100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin:0;
    height: inherit;
}
img{
    height: inherit;
}
.header a {
    color: black;
    text-decoration: none;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
}
.header ol li {
    height: inherit;
}
.header a {
    display:flex;
    align-items: center;
    height:inherit;
    padding:0px 20px;
}
.menu-servicios{
    width: 100%;
    height:auto ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-servicios a{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}